.u-margin-small {
    margin: $spacing-unit /2;
}

.u-margin-left-small{
    margin-left: $spacing-unit /2;
}

.u-margin-top-small {
    margin-top: $spacing-unit /2;
}

.u-margin-bottom-small {
    margin-bottom: $spacing-unit /2;
}

.u-padding-bottom-small {
    padding-bottom: $spacing-unit /2;
}

.u-margin-right-small {
    margin-right: $spacing-unit /2;
}

.u-margin {
    margin: $spacing-unit;
}

.u-margin-left {
    margin-left: $spacing-unit;
}

.u-margin-top {
    margin-top: $spacing-unit;
}

.u-margin-bottom {
    margin-bottom: $spacing-unit;
}

.u-margin-right {
    margin-right: $spacing-unit;
}

.u-margin-large {
    margin: $spacing-unit *2;
}

.u-margin-left-large {
    margin-left: $spacing-unit *2;
}

.u-margin-top-large {
    margin-top: $spacing-unit *2;
}

.u-margin-bottom-large {
    margin-bottom: $spacing-unit *2;
}

.u-margin-right-large {
    margin-right: $spacing-unit *2;
}
